{% extends "base.html" %}

{% block main_content %}
    <h1>Employee Login</h1>
    <form class = "login" action="" method="POST" novalidate>
        {{ form.hidden_tag() }}
        {{ form.employee_id.label() }}
        {{ form.employee_id() }}
        {% for error in form.employee_id.errors %}
            {{ error }}
        {% endfor %}
        <br />
        {{ form.hidden_tag() }}
        {{ form.password.label() }}
        {{ form.password() }}
        {% for error in form.password.errors %}
            {{ error }}
        {% endfor %}
        <br />
        {{ form.submit() }}
    </form>

{% endblock %}