{% extends "base.html" %}

{% block main_content %}

    <h1>Take out a loan</h1>
    
    <div class = "passwordReset">
        <b><p>Request Loan</p></b>
        <form action="" method="POST" novalidate>
            {{ form.hidden_tag() }}
            {{ form.amount.label() }}
            {{ form.amount() }}
            {% for error in form.amount.errors %}
                {{ error }}
            {% endfor %}
            <br />
            {{ form.submit() }}
        </form>
    </div>
{% endblock %}